body{
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428); 
    background: linear-gradient(to right, #004e92, #000428); 
   
    padding: 0%;
    margin: 0%;
}
#container{
    width: auto;
    max-height: 600px;
}
h1{
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 25px;
}
.flex-around{
    display: flex;
    justify-content: space-around;
}
#tableau{
    background: #000000;  
    background: -webkit-linear-gradient(to right, #353232, #000000); 
    background: linear-gradient(to right, #353232, #000000);     

    height: 450px;
    width: 600px;
    border-radius: 40px;
    border: 10px solid #481818;
    margin: auto;
    position:relative
}
.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
h2{
    color: white;
    text-align: center;
    font-size: 36px;
}
form{
    text-align: center;
}
label{
    display: block;
    color: white;
    font-size: 24px;
    width : 49%;
    height: 34px;
    float: left;
    text-align: right;
    margin:1%
}
#playerInput{
    width: 100px;
    font-size: 24px;
    border-radius: 10px;
    margin:1%;
    text-align: center;
    padding:10px 14px;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { 
-webkit-appearance: none;
margin:0;
}

.button{
    box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #bda257 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:10px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    
}
.button:hover {
	background:linear-gradient(to bottom, #bda257 5%, #eae0c2 100%);
	background-color:#bda257;
}
.button:active {
	position:relative;
	top:5px;
}
#buttonBack{
    position:absolute;
    bottom: 10px;
    left: 10px;
    box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #bda257 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:10px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#buttonBack:hover {
	background:linear-gradient(to bottom, #bda257 5%, #eae0c2 100%);
	background-color:#bda257;
}
#buttonBack:active {
	top:395px;
    bottom: 5px
}
#buttonAcceuil{
    position:absolute;
    bottom: 10px;
    right: 10px;
    box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #bda257 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:10px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#buttonAcceuil:hover{
    background:linear-gradient(to bottom, #bda257 5%, #eae0c2 100%);
	background-color:#bda257;
}
#buttonAcceuil:active {
	top:395px;
    bottom: 5px
}
.floatleft{
    float: left;
}
#center {
    text-align: center;
    height: 33%;
    
}
.flex1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
p{
    color: white;
    text-align: center;
    font-size: 25px;
}
#score{
    width: 33%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.surfaceDeJeu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    color: red;
    height: auto;
}
#result div{
    color: white;
    font-size: 40px;
    text-align: center;
}
#goodanswer{
    background-color: green;
    font-size: 30px;
}
#wronganswer{
    background-color: red;
    font-size: 30px;
}
#score{
    margin-left: auto;
    margin-right: auto;
}
#calcul{
    display: flex;
    justify-content: center;
    font-size: 40px;
    align-items: center;
    color: white;
}
footer{
    padding:50px
}